<img src="{{avatar_url}}" alt="">
<div class="info">
    <h3>{{name}}</h3>
    <p>location: {{location}}</p>
    <p>followers: {{followers}}</p>
    <p>amount of repos: {{public_repos}}</p>
    <p>acc date of birth: {{created_at}}</p>
    <p>last updated acc: {{updated_at}}</p>
    <button class="modal-close">Close</button>
</div>