{{#each this}}
<li class="person" data-key={{id}}>
    <img src={{avatar_url}} class="profile-picture" alt="" data-key={{id}}>
    <div data-key={{id}}>
        <h4 data-key={{id}}>{{name}}</h4>
        <p class="location" data-key={{id}}>{{location}}</p>
    </div>
</li>
{{/each}}